**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.sln
**/*.csproj.user
**/Dockerfile*
**/docker-compose*
**/appsettings.Development.json
**/node_modules
**/npm-debug.log
**/README.md
**/LICENSE
**/walkthrough.md
**/digrama.md
**/prueba.md
